@model TaxManagementSystem.Models.ApplyForTax

@{
    ViewBag.Title = "Apply For Tax Identification Number (TIN)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-primary">   Apply For Tax Identification Number (TIN) </h2>

@using (Html.BeginForm("ApplyForTax", "Account", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
           
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CompnayName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompnayName)
            @Html.ValidationMessageFor(model => model.CompnayName)

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyPhsicalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyPhsicalAddress)
            @Html.ValidationMessageFor(model => model.CompanyPhsicalAddress)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StaffId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StaffId)
            @Html.ValidationMessageFor(model => model.StaffId)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.BVN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BVN)
            @Html.ValidationMessageFor(model => model.BVN)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentPosition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentPosition)
            @Html.ValidationMessageFor(model => model.CurrentPosition)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentSalary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentSalary)
            @Html.ValidationMessageFor(model => model.CurrentSalary)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyContactNumber)
            @Html.ValidationMessageFor(model => model.CompanyContactNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyWebsite)
            @Html.ValidationMessageFor(model => model.CompanyWebsite)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=" Submit Application" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
</div>
