@model TaxManagementSystem.Models.PaymentRecord

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PaymentRecord</h4>

   
    <div class="alert-success">  <h4> @TempData["PS"]  </h4></div>

   
    <table class=" table table-bordered ">

      
        <tr>

            <th> User Tax Identification Number </th>
            <td>  @Session["Tin"] </td>


        </tr>
        <tr>

            <th> User Tax Identification Number </th>
            <td>  @Session["BVN"] </td>


        </tr>

        <tr>

            <th> Name</th>
            <td>@Session["Name"] </td>


        </tr>

        <tr>

            <th> Amount Due</th>
            <td> @Session["TaxAmount"] </td>


        </tr>


    </table>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CardNumber)
            @Html.ValidationMessageFor(model => model.CardNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Expired_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Expired_Date)
            @Html.ValidationMessageFor(model => model.Expired_Date)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cv2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cv2)
            @Html.ValidationMessageFor(model => model.Cv2)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Pin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Pin)
            @Html.ValidationMessageFor(model => model.Pin)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-success btn-block" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Home", "PayTax")
</div>
