@model TaxManagementSystem.Models.TaxRegistration

@{
    Layout = null;

    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">


        <h1 class="text-primary"> Welcome To The FIRS Tax Management System</h1>

        <hr />

        <h3>Registration</h3>
        <hr />


        <h4 class="alert-success "> 
  @if (TempData.ContainsKey("Registered")){ @TempData["Registered"]     @Html.ActionLink(" Pls Login To Your Account Here", "Login", routeValues:null, htmlAttributes: new { @class = "alert-success", } )}

</h4>


    @using (Html.BeginForm("Register", "Account", FormMethod.Post)) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassworConfirm, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PassworConfirm)
                    @Html.ValidationMessageFor(model => model.PassworConfirm)
                </div>
            </div>

            <hr />


            <div class="form-group">
                @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNo)
                    @Html.ValidationMessageFor(model => model.PhoneNo)
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create Account" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Already have Account ? Login Here", "Login")
    </div>


    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>
